<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="logs" translate="label" type="text" sortOrder="1900" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <label>Logs Management</label>
            <tab>advanced</tab>
            <resource>Magento_Config::config_system</resource>
            <group id="general" translate="label" type="text" sortOrder="1000" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="lines_count" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>File lines count to show per page</label>
                </field>

            </group>
            <group id="logs_cron" translate="label" type="text" sortOrder="1000" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Cron Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Cron Execution Time</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="archive_folder" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Archive folder</label>
                    <comment>Path from server root. Without slash in the end</comment>
                </field>
            </group>
        </section>
    </system>
</config>
